@using Web.PL.Models;




@{
    double? num = null;
    if (IsPost)
    {
        num = double.Parse(Request["num"]);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Pages/Style.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                1)Add
                2)Delete
                3)Show
                4)Add award
                5)Exit
            </div>
            <input type="text" name="num" value=@num />
            <button>Send</button>
        </form>
        @{
            switch (num)
            {
                case 1:
                    if (StaticPL.CheckRole() == 1 | StaticPL.CheckRole() == 2)
                    {
                        Response.Redirect("/pages/Add_User");
                    }
                    else
                    {
                        <div>У вас недостаточно прав на эту функцию.</div>
                    }
                    break;
                case 2:
                    if (StaticPL.CheckRole() == 1 | StaticPL.CheckRole() == 2)
                    {
                        Response.Redirect("/pages/Delete_User");
                    }
                    else
                    {
                        <div>У вас недостаточно прав на эту функцию.</div>
                    }
                    break;
                case 3:
                    <div class="Show_Users">
                        @{
                            int count = -1;
                            if (StaticPL.CheckRole() == 3)
                            {
                                foreach (var item in StaticPL.Show_Users())
                                {
                                    <div>@item.ID</div>
                                    <div>@item.Name</div>
                                    <div>@item.age</div>
                                }
                            }
                            else
                            {

                                foreach (var item in StaticPL.Show_Users())
                                {
                                    if (item.ID != count)
                                    {
                                        count = item.ID;
                                        <div>@item.ID</div>
                                        <div>@item.Name</div>
                                        <div>@item.age</div>
                                        <div>@item.NameA</div>
                                        <div>@item.DescriptionA</div>
                                    }
                                    else
                                    {
                                        <div>@item.NameA</div>
                                        <div>@item.DescriptionA</div>
                                    }
                                }
                            }
                        }
                    </div>
                    break;
                case 4:
                    
                    if (StaticPL.CheckRole() == 1 | StaticPL.CheckRole() == 2)
                    {
                        Response.Redirect("/pages/AddAward");
                    }
                    else
                    {
                        <div>У вас недостаточно прав на эту функцию.</div>
                    }
                    break;
                case 5:
                    Response.Redirect("/pages/SignOut");
                    break;
            }
        }
    </div>
</body>
</html>
