@using Web.PL.Models;
@{
    Layout = "~/Pages/Layout.cshtml";
    //string img = Request.QueryString["recordID"];
    var img = Request.QueryString["Path"];
    var art_id = int.Parse(Request.QueryString["Art_ID"]);
    var me = @HttpContext.Current.User.Identity.Name;
    StaticPL.art = StaticPL.GetArtById(art_id);
    var user = StaticPL.art.Art_Artist;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Pages/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <img src="@img" class="img-fluid" id="Main_img" />
        <div class="stats">
            <div>Name: @StaticPL.art.Art_Name</div>
            <div>Raiting: @StaticPL.art.Point</div>
            <div>Artist: @StaticPL.art.Art_Artist</div>
            <form method="post">
                <button id="like">Like</button>
            </form>
            
            @if (IsPost)
            {
                <div>@StaticPL.press_like(me, art_id);</div>
            }

        </div>
    </div>
</body>
</html>
